
/* ===Base Styles=== */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

.operators_content h1{
  text-align: center;

}

.Patches_content h1{
  text-align: center;

}

.page_banner {
  margin-top: 0;
  padding-top: 0;

}

.player_count {
  text-align: center;
}

/* Floats */

.nav {
  float: right;


}

.operator_column {
	padding: 10px;
	border-radius: 5px;
  float: left;
	background-color: grey;
  width: 40%;
  border: 1px solid grey;

}

.patches_column {
	padding: 10px;
	border-radius: 5px;
  float: right;
	background-color: grey;
  width: 40%;
  border: 1px solid grey;
}

.clearfix::after {
    content: "";
    clear: both;
}


/* ---- Page Top ---- */

body {
  background-color: black;
  margin: 0;
  padding: 0;

}

.page_top {
  background-color: black;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
    font-family: 'Arvo', Georgia, Times, serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

}


.nav li{
  display: inline;

}


.nav a {
	font-size: .95em;
	color: black;
	text-transform: uppercase;
}

.nav a:hover {
	color: #093a58;
}


.wrapper {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}

.toptext {
  font-family: "Times New Roman", Times, serif;
	text-align: center;
  margin-top: 0;
  padding-top: 0;
	padding: 2em 0;
  text-shadow: 0px 0px black;
}

/* =====Tachanka button==== */

button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  width: 480px;
  padding: 40px 0;
  margin: 0px -20px;
}
.Tachanka {
  width: 440px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 45px;
}
.Tachanka span img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* =====Media Queries======== */

@media (min-width: 769px) {

  .logo,
  .nav {
    display: inline;

  }

	.wrapper {
		min-height: calc(100vh - 89px);
	}

	.wrapper {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

}
