

.page_banner {
  text-align: auto;
  background: radial-gradient(grey 1%, black 99%);
  background-position: center;
  background-size: cover;
  margin: none;
  padding: none;
  height: 136px;
  overflow: inherit;

}

.wrapper {
  width: 70%;
  margin: 0 auto;

}

.player_count {
  text-align: center;

}

.toptext {
  font-family: sans-serif;
  text-align: center;
  overflow-y: auto;
  color: white;
  text-shadow: 2px 2px 8px black;

}

.patches_column,
.operator_column {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  background: #867676;
  border: 1px #242323;
  border-style: solid;

}

/* Operator Column */
.operator_column {
  float: left;
  overflow: auto;

}

/* Patches Column*/
.patches_column {
  float: right;
  overflow: auto;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.page_image {
  z-index: 0;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  opacity: .2;
  filter: saturate(120%) contrast(120%);

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 8px black;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.nav {
  float: right;
  padding-left: 0px;
}

.main_patches_content,
.main_operator_content {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px black;
  box-sizing: border-box;
  background: #867676;
  border: 1px #242323;
  border-style: solid;


}
